html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Raleway", sans-serif;
}

:root {
    --blue: #037bce;
    --black: #000;
    --lightGray: #e1e1e1;
    --white: #fff;
}

/* Globales */

a {
    text-decoration: none;
    color: var(--black);
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

/* Header y Navegacion */
.nombre-sitio {
    margin: 50px 0;
    text-align: center;
}
.nombre-sitio span {
    color: var(--blue);
}
.contenedor-navegacion {
    border-top: 1px solid var(--lightGray);
}
.nav-principal {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.hero {
    background-image: url("../img/principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 550px;
}

/* Categorias */
.categorias h2 {
    text-align: center;
}
.categoria a {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.categoria a:hover {
    background-color: var(--blue);
    color: var(--white);
    border-bottom-right-radius: 10px;
}
.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
