html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --blue: #037bce;
    --black: #000;
    --lightGray: #e1e1e1;
}

/* Globales */

a {
    text-decoration: none;
    color: var(--black);
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header y Navegacion */
.nombre-sitio {
    margin: 50px 0;
    text-align: center;
}
.nombre-sitio span {
    color: var(--blue);
}
.contenedor-navegacion {
    border-top: 1px solid var(--lightGray);
}
.nav-principal {
    padding: 20px 0;
}

.hero {
    background-image: url("../img/principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 550px;
}
